
.container{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    margin: 0px;
    padding: 0px;
    font-family: Arial, sans-serif;
}

nav{
    background-color: #b4d9ff;
    padding: 18px;
}

.links{
    text-decoration: none;
    color: #343a40;
    font-weight: bold;
}