.header {
  background-color: #3498db; /* color azul moderno */
  color: white;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1); /* sombra suave */
}

.header h1 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 1px;
}
